.movies {
    .row {
        margin-top: 10px;
        background-color: #eff0f1;
        border-radius: 10px;

        .col-sm {
            margin-top: 10px;
            margin-bottom: 10px;

            &.image {
                width: 100%;
                text-align: center;
            }

            .image-container {
                margin-top: 10px;

                img {
                    max-width: 100%;
                    cursor: pointer;
                }
            }

            &.p5 {
                margin-top: p5
            }

            .item {
                margin-top: 10px;
            }

            .fa-star::before {
                color: #ffbc00
            }
        }
    }
}